<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Cargas</title>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    <head>
        <div class="header bg-green-700">
            <div class="header_conteudo">
                <img class="header_logo" src="../img/logo-nutrepampa.png" alt="Logo Nutrepampa">
                <h2 class="header_titulo">CONTROLE DE SAÍDA E AGENDAMENTO DE CARGAS</h2>
            </div>
            <div>
                <button id="sair"
                    class="bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 rounded-lg shadow-md transition duration-200">
                    Sair
                </button>
            </div>
        </div>
        <div>
            <div class="bg-white p-6 rounded-2xl shadow-md flex flex-col gap-4">

                <div class="flex flex-col md:flex-row gap-3 items-center justify-between">

                    <div class="flex flex-col md:flex-row gap-3 w-full">
                        <select id="select_estab"
                            class="w-full md:w-auto px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 outline-none">
                            <option>Estabelecimentos</option>
                        </select>

                        <input type="date"
                            class="w-full md:w-auto px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 outline-none">

                        <button class="bg-green-700 text-white px-5 py-2 rounded-lg hover:bg-green-600 transition">
                            Filtrar
                        </button>

                        <a href="/"
                            class="bg-gray-200 text-gray-700 px-5 py-2 rounded-lg hover:bg-gray-300 transition text-center">
                            Voltar
                        </a>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-3">

                    <div class="relative w-full">
                        <input type="text" placeholder="Agendamento"
                            class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 outline-none">

                        <span class="absolute left-3 top-2.5 text-gray-400">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>

                    <div class="relative w-full">
                        <input type="text" placeholder="Coordenador"
                            class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 outline-none">
                        <span class="absolute left-3 top-2.5 text-gray-400">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_tabela">
            <div class="p-6 bg-gray-100 min-h-screen flex  justify-center">
                <div class="w-full max-w-8xl bg-white shadow-lg rounded-2xl overflow-hidden overflow-x-auto">

                    <table class="w-full text-left border-collapse text-xs md:text-sm">
                        <thead class="bg-green-700 text-white">
                            <tr>
                                <th class="p-2 md:p-4 whitespace-nowrap">Agendamento</th>
                                <th class="p-2 md:p-4 whitespace-nowrap">Coordenador</th>
                                <th class="p-2 md:p-4 whitespace-nowrap">Placa</th>
                                <th class="p-2 md:p-4 whitespace-nowrap">Motorista/telefone</th>
                                <th class="p-2 md:p-4 whitespace-nowrap">Tipo de Carga</th>
                                <th class="p-2 md:p-4 whitespace-nowrap">Hor. Faturamento</th>
                                <th class="p-2 md:p-4 whitespace-nowrap">STATUS</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="border-b hover:bg-gray-50">
                                <td class="p-4 font-medium">9004</td>
                                <td class="p-4 text-gray-600">Felipe</td>
                                <td class="p-4">
                                    <span class="text-black-600 px-3 py-1 rounded-full text-sm">
                                        jkd-3a43
                                    </span>
                                </td>
                                <td class="p-4">
                                    <span class=" text-black-600 px-3 py-1 rounded-full text-sm">
                                        Faturamento
                                    </span>
                                </td>
                            </tr>

                            <tr class="border-b hover:bg-gray-50">
                                <td class="p-4 font-medium">9001</td>
                                <td class="p-4 text-gray-600">Rafael</td>
                                <td class="p-4">
                                    <span class=" text-black-600 px-3 py-1 rounded-full text-sm">
                                        awd-3v32
                                    </span>
                                </td>
                                <td class="p-4">
                                    <span class=" text-black-600 px-3 py-1 rounded-full text-sm">
                                        Produçao
                                    </span>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </head>
</body>

<script>
    async function validarUsuario() {
        const token = localStorage.getItem("token");

        const response = await fetch("/home", {
            headers: {
                "Authorization": "Bearer " + token
            }
        });

        const dados = await response.json();

        console.log(dados.user.tipo);

        if (dados.user.tipo != 'adm') {
            window.location.href = `/Templates/tabelaCargas.html?data=${data}`;
        }
    }
    validarUsuario();




    let select = document.getElementById("select_estab");

    let estabelecimentos = ["Nutrepampa Matriz", "Nutrepampa Teutonia", "Nutrepampa Santa Catarina"];

    estabelecimentos.forEach(estab => {
        let option = document.createElement("option");
        option.value = estab;
        option.textContent = estab;

        select.appendChild(option);
    });


    document.getElementById("sair").addEventListener("click", () => {
        localStorage.removeItem("token");

        window.location.href = "/login";
    });
</script>

<script>
    const params = new URLSearchParams(window.location.search);

    // Pega especificamente a "data"
    const data = params.get('data');

    console.log("Data recebida:", data);

    // Exemplo: colocar no input
    document.querySelector("input").value = data;
</script>

<script>

    async function carregarhome() {
        const token = localStorage.getItem("token");

        if (!token) {

            window.location.href = "login";
            return;
        }

        try {
            const response = await fetch("/home", {
                headers: {
                    "Authorization": "Bearer " + token
                }
            });

            const data = await response.json();

            if (!response.ok) {
                throw new Error(data.erro);
            }

            console.log("Dados:", data);

        } catch (err) {
            console.error(err);

            // token inválido → volta pro login
            localStorage.removeItem("token");
            window.location.href = "/login";
        }
    }

    carregarhome();
</script>

</html>